body, html {
    height: 100%;
}
body {
    /*display: flex;*/
    margin: 0px;
    overflow: hidden; /*  Disable scrollbars */
    background-color: black;
}

#overlay-bottom {
    border-radius: 15px;
    /* Rounded corners with a 15-pixel radius */
    position: fixed;
    margin: 0;
    padding: 10px;
    /* Space inside the panel */
    bottom: 10px;
    left: 10px;
    background-color: rgba(211, 211, 211, 0.715);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Optional: add a shadow for better effect */
    color: rgb(0, 0, 0);
    /*z-index: 2;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#reload-button-container {
    border-radius: 10px;
    position: fixed;
    bottom: 100px; /* a bit above the tomato field */
    right: 10px;
    display: flex;
    gap: 10px;
}

#reload-button {
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(53, 51, 51, 0.715);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#tomato-field{
    border-radius: 15px;
    /* Rounded corners with a 15-pixel radius */
    position: fixed;
    margin: 0;
    padding: 10px 10px;
    /* Space inside the panel */
    bottom: 10px;
    right: 10px;
    background-color: rgba(53, 51, 51, 0.715);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    /* Optional: add a shadow for better effect */
    color: rgb(255, 255, 255);
    /*z-index: 2;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    gap : 10px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    gap: 10px; /* space between rows */
}

.tomato {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(255, 0, 0);
}

.usedTomato {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(190, 190, 190);
}
